body,#inner-container-1,#inner-container-2,#animal-container,#mygif{
      /* background-image: url("../images/waterhead.gif");  */
      background-color:#ffffff;   
}

#addanimal,footer{
    background-color: #E6E6FA;
}

footer{
    bottom: 0;
}
#addanimal{
    background-image: url("../images/bb.gif");  
    background-repeat: no-repeat;
}
 #header{
    background-image: url("../images/waterhead.gif");  
    
}    
.rightSideMiddle{
    background-image: url("../images/water.gif");  

}
.smallDevice{
    font-size: 12px;
}
