body{
      /* background-image: url("../images/waterhead.gif");  */
      background-color:#ffffff;   
}



#mygif,#addanimal,footer{
    background-color: #E6E6FA;
}
#inner-container-1,#inner-container-2,#animal-container{
background-color: #ffffff
}
footer{
    bottom: 0;
}
#addanimal{
    background-image: url("../images/bb.gif");  
    background-repeat: no-repeat;
}
#header{
    background-image: url("../images/waterhead.gif");  
    
}   
#mygif{
    background-image: url("../images/water.gif");  

}
